<!DOCTYPE html>
<html lang="en">

<head>
	<!--  -->
	<!-- BELOW IS THE BIT THAT IS DIFFERENT FROM ATTEMPT 2 -->
	<script src="https://s3-eu-west-1.amazonaws.com/katmatfield/vrview.min.js"></script>
	<!--  -->
	<!--  -->
	<script>
		window.addEventListener('load', onVrViewLoad);
		function onVrViewLoad() {
		  // Selector '#vrview' finds element with id 'vrview'.
		  var vrView = new VRView.Player('#vrview', {
		    image: 'https://s3-eu-west-1.amazonaws.com/katmatfield/amsterdam1.jpeg',
		    is_stereo: true,
		    width: 600,
		    height: 300
		  });
		}
	</script>
</head>

<body>
	<h2>Attempt 5: tweak on #2, with both image and scripts saved in S3</h2>
	<p>All the files have public read access. The issue does not seem to be the one described <a href="https://stackoverflow.com/questions/25027462/aws-s3-the-bucket-you-are-attempting-to-access-must-be-addressed-using-the-spec">here</a>, because the images are all in the EU-Ireland region (<a href="https://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region">S3 docs</a> but I checked this anyway in <a href="/aws-change-filepath">#6</a> anyway)</p>
	<p>See <a href="https://developers.google.com/vr/develop/web/vrview-web" target="_blank">here</a> for info</p>
	<img src="/static/images/amsterdam1.jpeg" width="500px"></img>
	<h3>360 view below this</h3>
	<hr />
	<div id='vrview'></div>
</body>

</html>