{% extends "base.html" %}

{% block content %}

<h2>Attempt 9: with VRView inside static folder</h2>
<p>See <a href="https://codelabs.developers.google.com/codelabs/vr_view_101/#3" target="_blank">here</a> for info</p>
<img src="/static/images/amsterdam1.jpeg" width="500px"></img>
<h3>360 view below this</h3>
<hr />
<iframe
   frameborder="0"
   width="600px"
   height="300px"
   scrolling="no"
   allowfullscreen    
   src="/static/vrview/index.html?image=amsterdam2.jpg">
</iframe>
{% endblock %}